body {
  background: linear-gradient(90deg, #d69cfa 0%, #515ada 100%);
}

/* Container */
.LoremIpsumGenerator {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f7f7f756;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Title */
h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Input and Button */
label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

input {
  width: 97%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  outline: none;
}

button {
  background-color: #dfdfdf;
  color: black;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #cacaca;
}

/* Generated Text */
.generatedText {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
}

.generatedText p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* Copy Button (positioned at the bottom right corner of generatedText) */
.copyButton {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #dfdfdf;
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.copyButton:hover {
  background-color: #cacaca;
}
